.hero {
    height: 80vh;
    background-image: url("https://images.pexels.com/photos/3822850/pexels-photo-3822850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
}

.tagline {
    font-family: 'Merriweather', serif;
    position: relative;
    display: inline-block;
    top: 40%;
    font-size: 4rem;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.779);
    border-radius: 100%;
    border-left: 5px solid var(--color-primary);
   padding: 2rem;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .tagline {
        top: 0;
        padding: 7rem;
        font-size: 8rem;
        left: 10%;
    }
}


@media screen and (min-width: 1600px) {
    .tagline {
        padding: 20rem;
        top: 10%;
    }
}