/* Navigation */

nav {
  align-items: center;
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  nav {
     flex-direction: row;
     padding: 0.25rem 18rem;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    padding: 0.5rem 2rem;
  }
}

.nav__item > a {
  color: var(--color-body);
}

.nav__item > a:hover {
  border-bottom: 2px double var(--color-primary);
}

  .nav__list {
    margin: 0;
    width: auto;
    display: flex;
    font-size: 1rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
    padding: 0 5px;
    transition: 0.1s ease-in-out;
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
    animation-delay: 0.9s;
  }
  

  .logo::before {
    content: url("../assets/services.svg");
    position: relative;
    top: 10px;
    margin: 1rem;
    z-index: -1;
  }

  .logo {
    font-size:  10px;
    cursor: pointer;
    color: var(--color-body-darker);
    z-index: 1;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .logo {
      font-size: 25px;
    }

    .nav__list { 
      font-size: 1.4rem;
    }

  }