.grid--block {
    width: 100%;
    height: 60vh;
    color: #fff;
}
.virtual--block {
    background-color: #de8f6e;
}
.communication--block {
    background-color: #DBD56E;
}
.content--block {
    background-color: #7D7C84;
}

.grid--block > h4::after {
    content: " â‡";
    cursor: pointer;
}

.grid--block > h4:hover::after {
    display: inline-block;
    margin: 0 0.5rem;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: 5;
}

.grid--block > h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8rem;
}

.grid--block {
    position: relative;
}

/* Virtual Customer Serivce */

.bot {
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    max-width: 300px;
    max-height: 300px;
    margin-left: 7vw;
    color: var(--color-body-darker);
    padding: 3rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 1600px) {
    .bot {
        top: 20%;
        margin-left: 10vw;
    }
  }

  .bot > h3 {
    border-top: 1px solid black;
  }

.grid--block > h4 {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.bot > img {
    border-radius: 100%;
    position: relative;
}

/* Mass Communication */

.email {
    text-align: left;
    font-size: 1.25rem;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    max-width: 300px;
    height: 240px;
    margin-left: 7vw;
    color: var(--color-body-darker);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 1600px) {
    .email {
        top: 20%;
        margin-left: 10vw;
    }
  }

.email--header {
    background-color: 
    #404040;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    text-align: left;
}

.email > form  > input{
    border: 0.5px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    outline: none;
    width: 100%;
}

.email > form > textarea {
    resize: none;
    border: none;
    outline: none;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

}

.btn {
    margin:  0.5rem;
    border-radius: 5px;
    background-color: #1b73e8;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    max-width: 55px;
    position: relative;
    bottom: -18px;
}

.btn:hover {
    cursor: pointer;
    filter:brightness(120%);
}

/* Content Creation */

.content--block {
    background-image: url(../assets/statue.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.content--block > p {
    background-color: #7d7c8458;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 900;
    margin-top: 25vh;
}

.typing::after {
    content: "|";
    color: white;
  }