.grid--block {
    width: 100%;
    height: 60vh;
    color: #fff;
}
.virtual--block {
    background-color: #de8f6e;
}
.communication--block {
    background-color: #DBD56E;
}
.content--block {
    background-color: #7D7C84;
}

.grid--block > h4::after {
    content: " â‡";
    cursor: pointer;
}

.grid--block > h4:hover::after {
    display: inline-block;
    margin: 0 0.5rem;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: 5;
}

.grid--block > h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8rem;
}

.grid--block {
    position: relative;
}

/* Virtual Customer Serivce */

.bot {
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    max-width: 300px;
    margin-left: 7vw;
    color: var(--color-body-darker);
    padding: 3rem;

}

@media screen and (min-width: 1600px) {
    .bot {
        top: 20%;
        margin-left: 10vw;
    }
  }

  .bot > h3 {
    border-top: 1px solid black;
  }

.grid--block > h4 {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.bot > img {
    border-radius: 100%;
    position: relative;
}

/* Mass Communication */

.communication--block {
    background-image: url(../assets/group.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.communication--block > h2 {
    font-size: 4rem;
    text-align: center;
    margin-top: 25vh;
    text-transform: uppercase;
    padding: 2rem;
    background-color: #DBD56E58;
}

/* Content Creation */

.content--block {
    background-image: url(../assets/statue.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.content--block > p {
    background-color: #7d7c8458;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 900;
    margin-top: 25vh;
}

.typing::after {
    content: "|";
    color: white;
  }