*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
  text-decoration: none;
}

/* Color Palette */
:root {
  --color-primary: #f3c430;
  --color-dark: #c9c9c9 ;
  --color-light: #f5f5f5;
  --color-body: #656565;
  --color-body-darker: #545454;
  --color-headings: #ffffff;
  --border-radius: 30px;
}

.primary-text {
  color: var(--color-primary);
}